/* rgba 2% = hexa 05 */
/* rbba 8% = hexa 14 */
/* rgba 30% = hexa 4d */
/* rgba 40% = hexa 66 */
/* rgba 50% = hexa 80 */
/* rgba 60% = hexa 99 */
:root {
    /* background */
    /* --main-background: #1dd5d038; */
    --background-main: rgba(29, 213, 208, 0.22);
    /* --background-header: #4f47c866; */
    --background-header: rgba(79, 71, 200, 0.4);
    --background-header-white: rgba(255, 255, 255, 0.95);
    --background-projects: #343D68;
    --background-projects-item: #262C4D;
    --background-color-red: #E84949;
    --background-project-item: rgb(214, 247, 246);

    --backdrop-background: rgba(34, 13, 91, 0.23);
    
    
    /* text colors */
    --text-color-navy: #343D68;
    --text-color-red: #E84949;
    --text-color-white: #fff;
    --text-color-violet:rgb(85, 26, 139);
    --text-color-blue: #36369f;
    
    --fill-color-navy: #343D68;
    --fill-color-blue: #36369f;
    --fill-color-white: #fff;
    --fill-color-red: #E84949;

    --transition-general: 300ms linear;

    --page-padding-s: 0 5px;
    --page-padding-m: 0 15px;

    --max-width-s: 320px;
}